{$FQDN} {
    root /app/www
    errors /proc/self/fd/2
    log /proc/self/fd/1 combined

    # PHP-FPM with Unix socket
    # fastcgi / /var/run/php7-fpm.sock php
    
    # PHP-FPM with regular udp socket
    fastcgi / 127.0.0.1:9000 php

    # TLS especification
    tls /app/ssl/live/{$FQDN}/fullchain.pem /app/ssl/live/{$FQDN}/privkey.pem

    # Routing for WordPress
    rewrite / {
        to {path} {path}/ /index.php?{query}
    }
}
